html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}
.nav_1 {
    display: flex;
    flex-direction: row;
    border: 1px solid green; 
    justify-content: space-between;
    height: 50px;
    margin-top: 15px;
    align-items: center;
      
}
.nav_1a {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid blue; 
    justify-content: initial;
    padding: 0;
   }
#logo {
    height: 30px;
    width: 92px;
    border: 0;
    border: 1px solid; 
    padding-left: 20px;
    margin-top: 20px;
    
}
#mic {
    height: 20px;
    width: 15px;
    position: relative;
    top: 4px;
    left: -70px;
}
#search {
    height: 24px;
    width: 24px;
    position: relative;
    top: 4px;
    left: -60px;
}
#search_bar {
    height: 44px;
    width: 800px;
    border: 1px solid red; 
    padding-left: 20px;
}
#bar {
    height: 42px;
    width: 650px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid rgb(231, 230, 230);
    padding: 0 20px;
}
.nav_1b {
  display: flex;
  flex-direction: row;
  padding: 0; 
  padding-right: 30px;
  height: 30px;
  align-items: center;
  /*border: 1px solid purple; */
}
#products {
    height: 18px;
    width: 18px;
    opacity: 0.5;
    padding-left: 10px;
    padding-right: 10px;
}
#sign_in {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: white;
    background-color: rgb(66, 133, 244); 
    border-radius: 4px;
    border: 1px solid pink;
    /*border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: none;
    border-image-repeat: stretch; */
}
#products:hover {
    opacity: 1;
}
#sign_in:hover {
    box-shadow: 3px 3px rgb(228, 228, 228);
}
ul {
    list-style-type: none ;
}
li {
    display: inline-block;
}