html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}
ul {
    list-style-type: none ;
}
li {
    display: inline-block;
}
.nav_1 {
    display: flex;
    flex-direction: row;
   /*border: 1px solid green; */
    justify-content: space-between;
    height: 50px;
    margin-top: 15px;
    align-items: center;
      
}
.nav_1a {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*border: 1px solid blue; */
    justify-content: initial;
    padding: 0;
   }
#logo {
    height: 30px;
    width: 92px;
    border: 0;
    /*border: 1px solid; */
    padding-left: 20px;
    margin-top: 10px;
    
}
#mic {
    height: 20px;
    width: 15px;
    position: relative;
    top: 4px;
    left: -70px;
}
#search {
    height: 24px;
    width: 24px;
    position: relative;
    top: 4px;
    left: -60px;
}
#search_bar {
    height: 44px;
    width: 800px;
    /*border: 1px solid red; */
    padding-left: 20px;
}
#bar {
    height: 42px;
    width: 650px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid rgb(231, 230, 230);
    padding: 0 20px;
}
.nav_1b {
  display: flex;
  flex-direction: row;
  padding: 0; 
  padding-right: 30px;
  height: 30px;
  align-items: center;
  /*border: 1px solid purple; */
}
#products {
    height: 18px;
    width: 18px;
    opacity: 0.5;
    padding-left: 10px;
    padding-right: 15px;
    margin-top: 5px;
}    
#sign_in {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    color: white;
    background-color: rgb(66, 133, 244); 
    border-radius: 4px;
    border: 1px solid pink;
}
#products:hover {
    opacity: 1;
}
#sign_in:hover {
    box-shadow: 2px 2px rgb(228, 228, 228);
}
.nav_2 {
    border-bottom: 1px solid rgb(219, 218, 218);
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;      
}
.nav_2 li a {
    font-size: 13px;
    font-family: Arial, sans-serif;
    color: grey; 
    text-decoration: none;
    padding: 16px;
    margin: 0;
}
.nav_2 li a:hover {
    color: #000;
}
#all {
    color: #1A73E8;
    font-weight: bold;
    border-bottom: 3px solid #1A73E8;
}
.nav_2a {
  /*  border: 1px solid yellowgreen; */
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    padding-left: 135px;
    width: 35%;   
}
.nav_2b {
    display: flex;
    flex-direction: row;
    align-items: center;
  /*  border: 1px solid aqua; */
    width: 100%;
    justify-content: flex-start;
}
#settings {
    margin-left: 70px;
}
#tools {
    margin-left: 10px;
}
.stats {
    padding-left: 150px;
    color: grey;
    font-family: arial, sans-serif;
    font-size: 13px;
  /*  border: 1px solid orange; */
}
.how {
    padding-bottom: 0px;
    border: 1px solid red;
}
.wix_ad h2 {
    margin-top: 5px;
    margin-left: 155px;
    margin-bottom: 0px;
}
.wix_ad h2 a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    /*margin-left: 155px; */
    border: 1px solid skyblue;
    font-size: 18px;
    font-family: arial, sans-serif;
    font-weight: normal;
    color: #1a0dab;
    text-decoration: none;
    height: 20px;
   }
h2 a:hover {
    text-decoration: underline;
}
.ad_site {
    /*display: flex;
    flex-direction: row;
    justify-content: flex-start; */
    border: 1px solid;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 155px;
}
.ad_site a {
    text-decoration: none;
}
h3 {
    margin: 0;
}
h3 a {
    font-size: 14px;
    font-family: arial, sans-serif;
    font-weight: normal;
    color: rgb(0, 102, 33);
    text-decoration: none;
}
#Ad {
    border: 1px solid rgb(0, 102, 33);
    border-radius: 3px;
    padding: 1px 3px;
    font-size: 11px;
    background-color: white;
    font-family: arial, sans-serif;
    font-weight: normal;
    color: rgb(0, 102, 33);  
    margin-right: 2px;
}
